<div class="container">
	<div class="panel panel-primary">
			<div class="panel-heading panel-title">
				 Wan-to-do New?
			</div>
			<div class="panel-body">
				<div class="panel" align="center">
					<%= form_for @todo, :url => todos_path(@todo) do |f| %>
					<%= f.label :name %>
					<%= f.text_field :name %><br><br>
					<%= f.label :priority%>(<i>1-High,2-Med,3-Low</i>) &nbsp &nbsp
					<%= f.select :priority, (1..3), class: 'pull-right' %><br><br>
					<%= f.hidden_field :done, :value => false %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.submit "Add", class: 'btn btn-large btn-primary' %>
					<%end%>
				</div><!-- end of inner-panel -->
			</div><!-- end of panel-body -->
		</div><!-- end of panel panel-primary -->
</div><!-- end of container -->
